<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 mx-auto text-center">
            <div class="card shadow">
                <div class="card-body py-5">
                    <h1 class="text-green mb-4">Oops! it's not a deadend, just go back!</h1>
                    <p class="lead mb-4"><%= message %></p>
                    <a href="/" class="btn btn-green btn-lg">Go Home</a>
                </div>
            </div>
        </div>
    </div>
</div>